
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Proza Libre', sans-serif;
}


h2{
  color: #7f888f;
  font-size: 16px;
}

section{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;  
  font-size: 17px; 
  padding: 0px 10px;
}


nav {

  display: inline-block;
  background: linear-gradient(90deg, rgb(208, 216, 216) 0%, rgb(9, 114, 121) 0%, rgba(0,212,255,1) 100%);
  overflow: hidden;
  width: 100%;
}

nav a {
  float:left;
  display: block;  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
nav a:hover {
  background-color: rgb(223, 174, 42);
  color: black;
}
  
nav a.active {
  background-color: #2d346b;
  color: white;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(241, 159, 5); 
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.social{
  display: inline-block;
  width: 100%;
  text-align: center;
  /* margin-top: 20px; */
  margin-bottom: 5px;
}

.social a{
  display: inline-block;
  margin: 0 10px;
  color: white;
}
.social a:hover{
  color: #161616;
} 

/*formulario*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  border-radius: 5px;
  background-color: #ccc8c8;
  padding: 20px;
  width: 100%;
}

/*Boton*/
button {
  border: none; 
  border-radius: 4px;
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
}

button {background-color: #223A77;} /* Green */
button:hover {background-color: #46a049;}

/*Video de Youtube*/
iframe{
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

article{
  text-align: center;
}

p{
  margin-bottom: 10px ;
}